<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h2 class="heading">
        Vue Events
    </h2>

    <section id="events">
        <h2>Events in Action</h2>
        <button v-on:click="add(5)">Add 5</button>
        <button v-on:click="reduce(10)">Reduce 10</button>
        <p>Result : {{counter}}</p>
        <!-- <input type="text" v-bind:value="name" v-on:input="setName($event , 'Caina')"  placeholder="input your name"> -->
       <input type="text" v-model=" name">
       <input type="text" v-model=" lastname">
        <button v-on:click="resetInput">Reset Input</button>
        <p>Your name: {{ fullname }}</p>

        </form>
    </section>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="app.js"></script>

</body>
</html>